@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "DM Sans", sans-serif;
  background-color: #fff0dd;
  min-height: 100vh;
  position: relative;
}

.container {
  min-width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.costs {
  background-color: #ec775f;
  border-radius: 15px;
  margin-bottom: 20px;
}
.costs .content {
  display: flex;
  justify-content: space-between;
  padding: 6%;
  color: white;
}
.costs .content .balance p {
  font-size: 17px;
}
.costs .content .balance h3 {
  font-size: 30px;
}

.expenses {
  background-color: white;
  border-radius: 15px;
}
.expenses .textContent {
  padding: 6%;
}
.expenses .textContent h1 {
  font-size: 25px;
}
.expenses .textContent .week_expenses {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.expenses .textContent .week_expenses .mon, .expenses .textContent .week_expenses .tue, .expenses .textContent .week_expenses .wed, .expenses .textContent .week_expenses .thu, .expenses .textContent .week_expenses .fri, .expenses .textContent .week_expenses .sat, .expenses .textContent .week_expenses .sun {
  text-align: center;
}
.expenses .textContent .week_expenses .mon div, .expenses .textContent .week_expenses .tue div, .expenses .textContent .week_expenses .wed div, .expenses .textContent .week_expenses .thu div, .expenses .textContent .week_expenses .fri div, .expenses .textContent .week_expenses .sat div, .expenses .textContent .week_expenses .sun div {
  width: 40px;
  margin-top: 40px;
  background-color: #ec775f;
}
.expenses .textContent .week_expenses .mon div:hover, .expenses .textContent .week_expenses .tue div:hover, .expenses .textContent .week_expenses .wed div:hover, .expenses .textContent .week_expenses .thu div:hover, .expenses .textContent .week_expenses .fri div:hover, .expenses .textContent .week_expenses .sat div:hover, .expenses .textContent .week_expenses .sun div:hover {
  background-color: #3bafaf;
  cursor: pointer;
}
.expenses .textContent .week_expenses .mon p, .expenses .textContent .week_expenses .tue p, .expenses .textContent .week_expenses .wed p, .expenses .textContent .week_expenses .thu p, .expenses .textContent .week_expenses .fri p, .expenses .textContent .week_expenses .sat p, .expenses .textContent .week_expenses .sun p {
  color: #a5a5a5;
  font-weight: 700;
}
.expenses .textContent .week_expenses .mon div {
  height: 20px;
}
.expenses .textContent .week_expenses .tue div {
  height: 65px;
}
.expenses .textContent .week_expenses .wed div {
  height: 95px;
}
.expenses .textContent .week_expenses .thu div {
  height: 53px;
}
.expenses .textContent .week_expenses .fri div {
  height: 45px;
}
.expenses .textContent .week_expenses .sat div {
  height: 85px;
}
.expenses .textContent .week_expenses .sun div {
  height: 40px;
}
.expenses hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
.expenses .balance {
  display: flex;
  justify-content: space-between;
}
.expenses .balance .total p {
  color: gray;
}
.expenses .balance .total h3 {
  font-size: 40px;
  color: #250e0e;
}
.expenses .balance .last_month {
  direction: rtl;
}
.expenses .balance .last_month h6 {
  font-size: 20px;
  margin-top: 16px;
  color: #250e0e;
}
.expenses .balance .last_month p {
  color: gray;
}

/*# sourceMappingURL=App.css.map */
